/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2021, 11:01:27 AM
    Author     : andre
*/
.banner{
    width: 100%;
    height: auto;
}

.myGrid {
    width: 1366px;
    height: 768px;
    display: grid;
    grid: 
        "sidebar body" 1fr
        / auto 1fr;
    grid-gap: 16px;
}
.sidebar {
    grid-area: sidebar;
}
.body {
    grid-area: body;
}
.myGrid > div {
    background: #f28e1c;
}
.h2 {
    color: #f28e1c;
}