@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bilbo&display=swap');

.container {
	background-color: #323d2f;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
        
}

.buttons {
  background: url('https://https://toppng.com/uploads/preview/beer-mug-icon-beer-mug-icon-11563096012om0h29aqsz.png') no-repeat;
  cursor: pointer;
  width: 200px;
  height: 300px;
  border: none;
}

.columns {
	width: 25%;
	float: left;
	
        font-size: 30px;
	color: #000435;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.primary_header {
	width: 100%;
        background-color: #d7cfb8;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
        border-bottom: 4px solid #be8f02;
        padding-left: 50px;
        
}
.secondary_header {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
        background-color: #e8bb31;
        color: #f7e7b7; font-family: 'Bebas Neue', cursive; 
        font-size: 36px;
	margin-left: auto;
	margin-right: auto;


}
.left_article {
	background-color: #000435;
	width: 60%;
	float: left; 
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	color: #343434;
	padding-bottom: 15px;
	max-height: 200px;
	max-width: 300px;
}
.noDisplay {
	display: none;
}




.footer {
	background-color: #001701;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	display: block;
	max-resolution: 75%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.column_title {
	padding-left: 5%;
	padding-right: 5%;
	line-height: 24px;
	font-size: 30px;
	font-display: block;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #1a2320;
}
.copyright {
	text-align: center;
	background-color: #001701;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 1000px;
	max-height: 700px;
	height: auto;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
	
}