@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bilbo&display=swap');

.container {
    background-color: #e8bb31;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

}

.buttons { 
    cursor: pointer;
    width: 200px;
    height: 300px;
    border: none;
}

.primary_header {
    width: 100%;
    background-color: #d7cfb8;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: 4px solid #be8f02;
    height: 100%;
    padding-left: 400px;
    padding-right: 10px;
}
.secondary_header {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #e8bb31;
    color: #f7e7b7; font-family: 'Bebas Neue', cursive; 
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;


}
.nav{
    background-color: #d7cfb8
}
.left_article {
    background-color: #e8bb31;
    width: 30%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #f7e7b7;
    padding-bottom: 15px;

}
.noDisplay {
    display: none;
}
.table,tr{
    border: 2px solid #001701; 
    width: 60%;
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #f7e7b7;
}

.tableData{
    border: 2px solid #001701; 
    border-collapse: collapse;
    width: 60%;
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #f7e7b7;
}




.footer {
    background-color: #001701;
}
.title {
    font-weight: bold;
    font-style: normal;
    font-family: "Source Sans Pro";
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 2px;

}
.copyright {
    text-align: center;
    background-color: #001701;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: "Source Sans Pro";
}
body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.placeholder {
    width: 100%;
    margin-top: 22PX;
    margin-right: 0px;
    margin-bottom: 22PX;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 1000px;
    max-height: 700px;
    height: auto;
}
.copyright {
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

